<article class="post">
  <div class="title">
    <span>>{{title}}</Span>
  </div>
  <div class="trade-img">
    <script type="text/x-handlebars-template">
    <img class="tradePic" src="{{imgURL}}">
    </script>
  </div>
  <div class = "description">
    {{description}}
  </div>
  <div class = "quality">
    {{quality}}
  </div>
  <div class="console-post">
    {{console}}
  </div>
  <div class="meta">
    <a href="/offer/{{id}}">{{offer.length}} {{format_plural "Offer" offer.length}}</a>
  </div>
</article>