<article class="post">
  <div class="container">
    <a href="/post/{{id}}">
    <div class="system" id="post-system">
      <span>{{console_type}}</Span>
    </div>
    <div class="trade-img">
          <img class="tradePic" src="/img/test2.jpg"> 
    </div>
    <div class = "description">
      <p> {{title}}</p>
      <p> {{description}}</p>
    </div>
    <div class = "quality">
      <P>{{quality}}</P>
    </div>
    {{!-- </div>
   <div class="meta">
    <a href="/comment/{{id}}">{{comment.length}} {{format_plural "comment" comment-body.length}}</a>
  </div>
    </div> --}}
    </div>
    </a>
  </article>