<article class="post">
  <a href="/post/{{id}}">
    <div class="container">
      <div class="system" id="post-system">
        <span>{{console_type}}</span>
      </div>
      <div class="trade-img">
        <img class="tradePic" src="/img/{{id}}.{{pic_link}}" />
      </div>
      <div class="description">
        <p> {{title}}</p>
        <p> {{description}}</p>
      </div>
      <div class="quality">
        <p>{{quality}}</p>
      </div>
    </div>
  </a>
</article>